<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="cadastro.css">
</head>
<body>
    <div id="menu-lateral">
        <div id="logo-icons">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\logo.png" id="logo">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\menu-icon.png" class="menu-icon">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\settings-icon.png" class="menu-icon">
        </div>
        <button class="botao-menu"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\home-icon.png"> Home</button>
        <button class="botao-menu"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\modules-icon.png"> Módulos</button>
        <button class="botao-menu active"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\profiles-icon.png"> Usuários</button>
        <button class="botao-menu"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\perfis-icon.png"> Perfis</button>
    </div>
    <div id="main-content">
        <div id="formulario">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\logo-forms.png">
            <h1 style="margin-bottom: 8px;">Por favor Insira os Dados</h1>
            <p style="margin-top: 0;">Realize o cadastro para o colaborador acessar a Plataforma</p>
            <form>
                <label for="matricula">Matrícula</label>
                <input type="number" id="matricula" placeholder="********">
                <div id="nome-sobrenome">
                    <div>
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" placeholder="Nome">
                    </div>
                    <div>
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" id="sobrenome" placeholder="Sobrenome">
                    </div>
                </div>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="exemplo.queroquero@gmail.com">
                <label for="senha">Senha Padrão</label>
                <div id="senha-div">
                    <input type="password" id="senha" placeholder="********">
                    <button type="button" id="senha-botao"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\eye-icon.png"></button>
                </div>
                <label for="perfis">Perfis Associados</label>
                <select id="perfis">
                    <option value="perfil1">Perfil 1</option>
                    <option value="perfil2">Perfil 2</option>
                </select>
                <label for="setor">Setor do Usuário</label>
                <select id="setor">
                    <option value="adm">Adm</option>
                    <option value="rh">RH</option>
                    <option value="financeiro">Financeiro</option>
                </select>
                <div id="botoes">
                    <button type="reset" id="botao-cancelar">Cancelar</button>
                    <button type="submit" id="botao-cadastrar">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>Lojas Quero Quero @ 2024. Todos os Direitos Reservados</p>
        <div id="social-icons">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\Icones-Imagens\facebook-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\Icones-Imagens\twitter-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\Icones-Imagens\instagram-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\Icones-Imagens\linkedin-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\Icones-Imagens\youtube-icon.png">
        </div>
    </footer>
</body>
</html>
