<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="forgot.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="esqueceu-a-senha">
    		<div class="page-content">
      			<div class="section-text">
        				<div class="top">
          					<b class="secondary-headline">Esqueceu sua senha?</b>
        				</div>
        				<div class="paragraph">Não há nada com que se preocupar, enviaremos uma mensagem para ajudá-lo a redefinir sua senha.</div>
      			</div>
      			<div class="form-2-fields-checkbox-b">
        				<div class="text-field">
          					<div class="label-and-field">
            						<div class="label">Email </div>
            						<div class="field">
              							<div class="text">Coloque o email da conta!</div>
            						</div>
          					</div>
        				</div>
        				<div class="button">
          					<div class="text-container">
            						<div class="button-text">Enviar link</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>