<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="cadastro.css">
</head>
<body>
    <div id="menu-lateral">
        <div id="logo-container">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\logo.png" id="logo">
        </div>
        <div class="menu-icons">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\menu-icon.png" class="menu-icon">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\settings-icon.png" class="menu-icon">
        </div>
        <button class="botao-menu"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\home-icon.png"> Home</button>
        <button class="botao-menu"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\modules-icon.png"> Módulos</button>
        <button class="botao-menu active"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\profiles-icon.png"> Usuários</button>
        <button class="botao-menu"><img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\perfis-icon.png"> Perfis</button>
    </div>
    <div id="main-content">
        <div id="formulario">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\logo-forms.png">
            <h1 style="margin-bottom: 8px;">Por favor Insira os Dados</h1>
            <p style="margin-top: 0;">Realize o cadastro para o colaborador acessar a Plataforma</p>
            <form>
                <label for="matricula">Matrícula</label>
                <input type="number" id="matricula" placeholder="********" required>
                <label for="nome-completo">Nome Completo</label>
                <input type="text" id="nome-completo" placeholder="Nome Completo" required>
                <label for="nome-usuario">Nome de Usuário</label>
                <input type="text" id="nome-usuario" placeholder="Nome de Usuário" required>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="exemplo.queroquero@gmail.com" required>
                <label for="senha">Senha Padrão</label>
                <div id="senha-div">
                    <input type="password" id="senha" placeholder="********" required autocomplete="off">
                    <button type="button" id="senha-botao" onclick="togglePasswordVisibility()">
                        <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\eye-icon.png" id="eye-icon" alt="Ícone de olho">
                    </button>
                </div>                              
                <label for="perfis">Perfis Associados</label>
                <select id="perfis" required>
                    <option value="perfil1">Perfil 1</option>
                    <option value="perfil2">Perfil 2</option>
                    <option value="perfil3">Perfil 3</option>
                    <option value="perfil4">Perfil 4</option>
                    <option value="perfil5">Perfil 5</option>
                    <option value="perfil6">Perfil 6</option>
                    <option value="perfil7">Perfil 7</option>
                </select>
                <script src="cadastro.js"></script> 
                <div id="botoes">
                    <button type="reset" id="botao-cancelar">Cancelar</button>
                    <button type="submit" id="botao-cadastrar">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>Lojas Quero Quero @ 2024. Todos os Direitos Reservados</p>
        <div id="social-icons">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\facebook-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\twitter-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\instagram-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\linkedin-icon.png">
            <img src="C:\Users\980235\Desktop\Atividades-QQTech-Aulas\Desafio-QQTech\View\Icones-Imagens-View\youtube-icon.png">
        </div>
    </footer>

</body>
</html>
